<div id="editAreaDialog" class="white-bg " style="display: none">
    <div class="wrapper wrapper-content">
        <form class="form-horizontal" id="formEditArea">
            <input id="editAreaId" name="areaId" type="hidden"/>
            <div class="form-group">
                <label class="col-sm-3 m-r-n control-label is-required">地区名称：</label>
                <div class="col-sm-8">
                    <input class="form-control" type="text" name="areaName" id="editAreaName">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 m-r-n control-label">纬度：</label>
                <div class="col-sm-8">
                    <input class="form-control" type="text" name="latitude" id="editLatitude">
                </div>
            </div>
            <div class="form-group">
                <label for="editUrl" class="col-sm-3 m-r-n control-label">经度：</label>
                <div class="col-sm-8">
                    <input class="form-control" type="text" name="longitude" id="editLongitude">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 m-r-n control-label">排序序号：</label>
                <div class="col-sm-8">
                    <input class="form-control" type="text" name="sortNum" id="editSortNum">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 m-r-n control-label">热门标记：</label>
                <div class="col-sm-8">
                    <label class="radio-box">
                        <input type="radio" name="hotStatus" value="1"/> 是
                    </label>
                    <label class="radio-box">
                        <input type="radio" name="hotStatus" value="2" checked/>
                        否
                    </label>
                </div>
            </div>
        </form>
    </div>
</div>