<script>
    $(function () {
        <#if updatePost?length gt 0>
        updatePost = function (id) {
            $.form.clearForm();
            var postInfo = $.table.getSelection(id);
            $("#editPostId").val(id);
            $("#editPostName").val(postInfo.postName);
            $("#editPostCode").val(postInfo.postCode);
            $("#editSortNum").val(postInfo.sortNum);
            $("#editRemark").val(postInfo.remark);
            $.modal.dialog('修改岗位', 'editPost', '', '',
                function () {
                    var rules = {
                        postCode: {
                            required: true
                        },
                        postName: {
                            required: true
                        },
                    };
                    if (!$.form.validate("formEditPost", rules)) {
                        return false;
                    }
                    var data = $.form.getData("formEditPost");
                    $.loading();
                    $.postAjax("${updatePost}",
                        data, function (status, respData) {
                            $.table.search();
                        });
                    return true;
                });
        }

        </#if>
        <#if updateActiveStatus?length gt 0>

        enable = function (id) {
            var params = {
                "postId": id,
                "activeStatus": 1
            };
            $.modal.confirm('是否启用该岗位', function () {
                $.postAjax('${updateActiveStatus}', params, function () {
                    $.table.search();
                });
            });
        };

        disable = function (id) {
            var params = {
                "postId": id,
                "activeStatus": 2,
            };
            $.modal.confirm('是否禁用该岗位', function () {
                $.postAjax('${updateActiveStatus}', params, function () {
                    $.table.search();
                });
            });
        }

        </#if>
        <#if addPost?length gt 0>
        $("#postAdd").click(function () {
            $.form.clearForm();
            $.modal.dialog('添加岗位', 'addPost', '', '',
                function () {
                    var rules = {
                        postCode: {
                            required: true
                        },
                        postName: {
                            required: true
                        },
                    };
                    if (!$.form.validate("formAddPost", rules)) {
                        return false;
                    }
                    var data = $.form.getData("formAddPost");
                    $.loading();
                    $.postAjax("${addPost}",
                        data, function (status, respData) {
                            $.table.search();
                        });
                    return true;
                });
        });
        </#if>
        var options = {
            id: "postTable",
            uniqueId: "postId",
            delKey: "postId",
            delUrl: "${delPost}",
            url: "${basePath}/jsuite/postMgr/listPage",
            columns: [{
                checkbox: true,
                visible: false                  //是否显示复选框
            }, {
                title: '岗位名称',
                align: "center",
                valign: "middle",
                field: 'postName',
                width: '10%',
            }, {
                title: '岗位编码',
                field: 'postCode',
                align: "center",
                valign: "middle",
                width: '10%',
            }, {
                title: '排序序号',
                field: 'sortNum',
                width: '10%',
                align: "center",
                valign: "middle"
            }, {
                title: '启用状态',
                field: 'activeStatus',
                width: 1,
                align: "center",
                valign: "middle",
                formatter: function (value, row, index) {
                    <#if updateActiveStatus?length gt 0>
                    if (row.activeStatus == 1) {
                        return '<i class="fa fa-toggle-on fa-2x text-info" onclick="disable(\'' + row.postId + '\');"></i>';
                    } else {
                        return '<i class="fa fa-toggle-off fa-2x text-info" onclick="enable(\'' + row.postId + '\');"></i>';
                    }
                    <#else>
                    if (row.activeStatus == 1) {
                        return '<i class="fa fa-toggle-on fa-2x text-info"></i>';
                    } else {
                        return '<i class="fa fa-toggle-off fa-2x text-info"></i>';
                    }
                    </#if>
                }
            }, {
                title: '备注',
                field: 'remark',
                width: '30%',
                align: "center",
                valign: "middle"
            }, {
                title: '创建时间',
                field: 'createTime',
                width: '20%',
                align: "center",
                valign: "middle",
                formatter: function (value, row, index) {
                    return $.formatDate(row.createTime, 'YYYY-MM-DD');
                }
            }, {
                title: '操作',
                field: 'postId',
                width: 150,
                align: "center",
                valign: "middle",
                formatter: function (value, row, index) {
                    var actions = [];
                    <#if updatePost?length gt 0>
                    actions.push('<a class="btn btn-success btn-xs" href="javascript:void(0)" onclick="updatePost(\'' + row.postId + '\')"><i class="fa fa-edit"></i> 编辑</a> ');
                    </#if>
                    <#if delPost?length gt 0>
                    actions.push('<a class="btn btn-danger btn-xs" href="javascript:void(0)" onclick="$.table.del(\'' + row.postId + '\')"><i class="fa fa-remove"></i> 删除</a> ');
                    </#if>
                    if (actions.length > 0) {
                        return actions.join('');
                    } else {
                        return "-";
                    }
                }
            }],
        };
        $.table.load(options);
    });
</script>