<@contextPath> </@contextPath>
<#macro commlink>
    <link href="${basePath}/static/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="${basePath}/static/plugins/fontawesome/css/font-awesome.min.css" rel="stylesheet"/>
    <link href="${basePath}/static/css/style.css?v=15" rel="stylesheet"/>
    <link href="${basePath}/static/css/animate.min.css" rel="stylesheet"/>
    <link href="${basePath}/static/plugins/toastr/toastr.min.css" rel="stylesheet"/>
</#macro>
<#macro header>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="renderer" content="webkit"/>
        <link rel="shortcut icon" href="${basePath}/static/images/favicon.ico"/>
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
        <title>JSuite后台管理系统</title>
        <@commlink/>
    <link href="${basePath}/static/css/jsuite.css?v=1.3" rel="stylesheet"/>
        <#nested>
    </head>
</#macro>
<#macro treetableLink>
    <link href="${basePath}/static/plugins/treetable/bootstrap-treetable.css" rel="stylesheet"/>
</#macro>
<#macro iCheckLink>
    <link  href="${basePath}/static/plugins/iCheck/skins/all.css" rel="stylesheet"/>
</#macro>
<#macro bootstrapTableLink>
    <link  href="${basePath}/static/plugins/bootstrap-table/bootstrap-table.min.css" rel="stylesheet"/>
</#macro>
<#macro contextMenuLink>
    <link href="${basePath}/static/plugins/contextMenu/jquery.contextMenu.min.css" rel="stylesheet"/>
</#macro>
<#macro ztreeLink>
    <link href="${basePath}/static/plugins/ztree/css/zTreeStyle.css" rel="stylesheet"/>
</#macro>
<#macro jquerylayoutLink>
    <link href="${basePath}/static/plugins/jquery-layout/jquery.layout-latest.css?v=5" rel="stylesheet"/>
</#macro>
<#macro fileInputLink>
    <link href="${basePath}/static/plugins/bootstrap-fileinput/css/fileinput.css?v=5" rel="stylesheet"/>
</#macro>
<#macro script>
    <!-- 全局js -->
    <script src="${basePath}/static/plugins/jquery/jquery-3.6.0.min.js"></script>
    <script src="${basePath}/static/plugins/jquery-validation/jquery.validate.min.js"></script>
    <script src="${basePath}/static/plugins/jquery-validation/messages_zh.min.js"></script>
    <script src="${basePath}/static/js/bootstrap.min.js"></script>
    <script src="${basePath}/static/plugins/blockui/jquery.blockUI.js"></script>
    <script src="${basePath}/static/plugins/toastr/toastr.min.js"></script>
    <script src="${basePath}/static/plugins/layer/layer.min.js"></script>
    <script src="${basePath}/static/js/jsuite.js?v=2.4"></script>
    <#nested>
    <script>
        $(function () {
            $.unFullLoad();
        });
    </script>
</#macro>


<#macro moment>
    <script src="${basePath}/static/plugins/moment/moment.min.js"></script>
</#macro>
<#macro slimscroll>
    <script src="${basePath}/static/plugins/slimscroll/jquery.slimscroll.min.js"></script>
</#macro>
<#macro metisMenu>
    <script src="${basePath}/static/plugins/metisMenu/jquery.metisMenu.js"></script>
</#macro>
<#macro contextMenu>
    <script src="${basePath}/static/plugins/contextMenu/jquery.contextMenu.min.js"></script>
</#macro>
<#macro treetable>
    <script src="${basePath}/static/plugins/treetable/bootstrap-treetable.js?v=1.1"></script>
</#macro>
<#macro bootstraptable>
    <script src="${basePath}/static/plugins/bootstrap-table/bootstrap-table.js?v=0.5"></script>
    <script src="${basePath}/static/plugins/bootstrap-table/bootstrap-table-mobile.min.js"></script>
    <script src="${basePath}/static/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>
</#macro>
<#macro ztree>
    <script src="${basePath}/static/plugins/ztree/jquery.ztree.all.min.js"></script>
</#macro>
<#macro laydate>
    <script src="${basePath}/static/plugins/laydate/laydate.js"></script>
</#macro>
<#macro jquerylayout>
    <script src="${basePath}/static/plugins/jquery-layout/jquery.layout-latest.js?v=6"></script>
</#macro>
<#macro tinymce>
    <script src="${basePath}/static/plugins/tinymce/tinymce.min.js"></script>
    <script src="${basePath}/static/plugins/tinymce/jquery.tinymce.min.js"></script>
</#macro>
<#macro iCheck>
    <script src="${basePath}/static/plugins/iCheck/icheck.min.js"></script>
</#macro>
<#macro fileInput>
    <script src="${basePath}/static/plugins/bootstrap-fileinput/fileinput.min.js"></script>
    <script src="${basePath}/static/plugins/bootstrap-fileinput/locales/zh.js"></script>
    <script src="${basePath}/static/plugins/bootstrap-fileinput/themes/fa/theme.min.js"></script>
</#macro>
