<script>
    $(function () {
        $('.i-checks').iCheck({
            checkboxClass: 'icheckbox_square-blue',
            radioClass: 'iradio_square-blue',
        });
        $("#imgFileUpload").click(function () {
            $.modal.dialogIframe('图片选择器', '${basePath}/admin/dialog/fileDialog?fileType=img', '', '',
                function (index, layero) {
                    var body = layer.getChildFrame('body', index).contents();
                    var content = body.find("#selectCurrFile");
                    var value = content.val();
                    $("#thumbnailPath").val(value);
                    $("#imgFileUpload").attr("src", value);
                    return true;
                });
        });
        submitArticle = function () {
            var rules = {
                articleTitle: {
                    required: true
                }
            };
            if (!$.form.validate("articleForm", rules)) {
                return false;
            }
            var activeEditor = tinymce.activeEditor;
            var content = activeEditor.getContent();
            if ($.common.isEmpty(content)) {
                toastr.error("内容不能为空！");
                return false;
            }
            var chkValue = [];
            $('input[name="articleCategoryId"]:checked').each(function () {
                chkValue.push($(this).val());
            });
            if (chkValue.length == 0) {
                toastr.error("请选择文章分类！");
            }
            $("#content").val(content);
            if ($.common.isEmpty($("#summary").val())) {
                var editBody = activeEditor.getBody();
                activeEditor.selection.select(editBody);
                var text = activeEditor.selection.getContent({ 'format': 'text' });
                $("#summary").val(text.slice(0, 80));
            }

            var loginData = $.form.getData("articleForm");
            $.loading();
            $.postAjax("${basePath}/jsuite/articleMgr/add", loginData,
                function (status, respData) {
                    $.form.clearForm();
                });
        };
        $("#saveArticle").click(function () {
            $("#articleStatus").val("2");
            submitArticle();
        });
        $("#addArticle").click(function () {
            $("#articleStatus").val("1");
            submitArticle();
        });

        tinymce.init({
            selector: "#content",
            height: 400,
            menubar: false,
            font_formats: "Arial=arial,helvetica,sans-serif; Courier New=courier new,courier,monospace; AkrutiKndPadmini=Akpdmi-n;宋体=宋体;黑体=黑体;仿宋=仿宋;微软雅黑=微软雅黑;楷体-GB2312=楷体-GB2312",
            language: 'zh_CN',
            setup: function (editor) {
                editor.ui.registry.addButton('myImage', {
                    icon: "image",
                    onAction: function (_) {
                        $.modal.dialogIframe('选择图片',
                            '${basePath}/admin/dialog/fileDialog?fileType=img', '600', '',
                            function (index, layero) {
                                var body = layer.getChildFrame('body', index).contents();
                                var content = body.find("#selectCurrFile");
                                var url = content.val();
                                if (url != '') {
                                    var a = '<img src="' + url + '"/>';
                                    editor.insertContent(a);
                                }
                                return true;
                            });
                    }
                });
            },
            plugins: [
                "advlist autolink lists link image imagetools charmap print preview hr anchor pagebreak",
                "searchreplace wordcount visualblocks visualchars code fullscreen",
                "insertdatetime media nonbreaking save table contextmenu directionality",
                "emoticons template paste textcolor "
            ],
            toolbar1: "styleselect | fontselect | formatselect | fontsizeselect | forecolor | bold italic underline strikethrough charmap ",
            toolbar2: "myImage media | table | alignleft aligncenter alignright alignjustify | bullist numlist | outdent indent | code link unlink | undo redo | emoticons preview fullscreen |"
        });
    });
</script>