<script>
    $(function () {
        laydate.render({
            elem: '#select-time'
            , range: ['#startDate', '#endDate']
        });
        var options = {
            id: "articleTable",
            uniqueId: "articleId",
            delKey: "articleId",
            delUrl: "${delArticle}",
            url: "${basePath}/jsuite/articleMgr/list",
            columns: [{
                checkbox: true,
                visible: false
            }, {
                title: '标题名称',
                align: "center",
                valign: "middle",
                field: 'articleTitle',
                width: '10%',
            }, {
                title: '作者',
                field: 'userName',
                width: '10%',
                align: "center",
                valign: "middle"
            }, {
                title: '摘要',
                field: 'summary',
                width: '20%',
                align: "center",
                valign: "middle"
            }, {
                title: '是否可评论',
                field: 'commentStatus',
                width: '20%',
                align: "center",
                valign: "middle",
                formatter: function (value, row, index) {
                    if (row.commentStatus == 1)
                        return '是';
                    return '否';
                }
            }, {
                 title: '发布状态',
                 field: 'articleStatus',
                 width: '20%',
                 align: "center",
                 valign: "middle",
                 formatter: function (value, row, index) {
                     if (row.articleStatus == 1)
                         return '已发布';
                     return '未发布';
                 }
             }, {
                title: '评论数',
                field: 'commentCount',
                width: '5%',
                align: "center",
                valign: "middle"
            }, {
                title: '访问量',
                field: 'viewCount',
                width: '10%',
                align: "center",
                valign: "middle"
            }, {
                title: '创建时间',
                field: 'createTime',
                width: '20%',
                align: "center",
                valign: "middle",
                formatter: function (value, row, index) {
                    return $.formatDate(row.createTime, 'YYYY-MM-DD');
                }
            }, {
                title: '操作',
                field: 'articleId',
                width: '50%',
                align: "center",
                valign: "middle",
                formatter: function (value, row, index) {
                    var actions = [];
                    <#if updateArticle?length gt 0 >
                        actions.push('<a class="btn btn-success btn-xs" href="${updateArticle}?params=' + row.articleId + '"><i class="fa fa-edit"></i> 编辑</a> ');
                    </#if >
                    <#if delArticle?length gt 0 >
                         actions.push('<a class="btn btn-danger btn-xs" href="javascript:void(0)" onclick="$.table.del(\'' + row.articleId + '\')"><i class="fa fa-remove"></i> 删除</a> ');
                    </#if >
                   if (actions.length > 0) {
                       return actions.join('');
                   } else {
                       return "-";
                   }
                }
            }],
        };
    $.table.load(options);
    }
    );
</script>