<!DOCTYPE html>
<html lang="en">
    <#include "/admin/include/layout.html"/>
    <@header>
    </@header>
    <body class="white-bg">
        <#include "/admin/include/loading.html"/>
        <div class="wrapper-content animated fadeIn">
            <input id="selectCurrFile" type="text" name="selectCurrFile" style="display: none"/>
            <div class="tabs-container">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#tab-1" aria-expanded="true">文件上传</a>
                    </li>
                    <li class=""><a data-toggle="tab" href="#tab-2" aria-expanded="false">本地文件</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div id="tab-1" class="tab-pane active">
                        <div class="panel-body">
                            <div class="m-l-md">
                                <input type="file" id="addfilePath" name="file" style="display: none">
                                <img id="imgFileUpload"
                                     src="${basePath}/static/images/chose-image-btn.png"
                                     width="200" height="200"/>
                            </div>
                            <div class="m-t m-l-md">
                                <a href="javascript:void(0)" class="btn btn-success" id="fileUpload"><i
                                            class="fa fa-plus"></i>文件上传</a>
                            </div>
                        </div>
                    </div>
                    <div id="tab-2" class="tab-pane">
                        <div class="panel-body">
                            <div class="ibox float-e-margins">
                                <div class="lightBoxGallery">
                                    <img alt="image" src="/static/images/p_big1.jpg"
                                         onerror="this.src='${basePath}/static/images/default-img.png'"/>
                                    <img alt="image" src="/static/images/p_big1.jpg"
                                         onerror="this.src='${basePath}/static/images/default-img.png'"/>
                                </div>
                            </div>
                            <div id="example" style="text-align: center">
                                <ul id="pagination"></ul>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <@script>
            <script src="${basePath}/static/js/bootstrap-paginator.min.js"></script>
            <script>
                $(function () {
                    var selectFileUrl = "";
                    //选择图片
                    $("#imgFileUpload").click(function () {
                        $("#addfilePath").click();
                    });
                    //选取文件后回显当前显示图片
                    $('#addfilePath').change(function (e) {
                        //当前选择的文件
                        var currImg = e.target.files[0];
                        var imgSrc = URL.createObjectURL(currImg);
                        //更换原图片路径，回显图片
                        $('#imgFileUpload').attr('src', imgSrc);
                    });
                    $("#fileUpload").click(function () {
                        var formData = new FormData();
                        formData.append("file", $("#addfilePath")[0].files[0]);
                        $.loading();
                        $.fileAjax("${basePath}/jsuite/fileMgr/upload",
                            formData, function (status, respData) {
                                $("#selectCurrFile").val(respData);
                                requestFile(1);
                            });
                    });
                    $(".lightBoxGallery").on("click", 'img', function () {
                        $(".fileSelectBorder").each(function () {
                            $(this).removeClass("fileSelectBorder");
                        });
                        $(this).addClass("fileSelectBorder");
                        $("#selectCurrFile").val($(this).attr("src"));
                    });
                    requestFile = function (currPage) {
                        $.getAjax("${basePath}/jsuite/fileMgr/list?fileType=${fileType}&pageSize=10&currPage=" + currPage,
                            function (status, data, message) {
                                let dataLength = data.datas.length;
                                $(".lightBoxGallery").html("");
                                for (let i = 0; i < dataLength; i++) {
                                    let resultData = data.datas[i];
                                    let img = '<img  alt="' + resultData.fileName + '" ' +
                                        'src="' + resultData.httpUrl + '" ' +
                                        'onerror="this.src=\'${basePath}/static/images/default-img.png\'"/>';
                                    $(".lightBoxGallery").html(img + $(".lightBoxGallery").html());
                                }
                                $('#pagination').bootstrapPaginator({
                                    currentPage: currPage,//当前的请求页面。
                                    totalPages: data.totalPage,//一共多少页。
                                    size: "normal",//应该是页眉的大小。
                                    bootstrapMajorVersion: 3,//bootstrap的版本要求。
                                    alignment: "right",
                                    numberOfPages: 5,//一页列出多少数据。
                                    itemTexts: function (type, page, current) {//如下的代码是将页眉显示的中文显示我们自定义的中文。
                                        switch (type) {
                                            case "first":
                                                return "首页";
                                            case "prev":
                                                return "上一页";
                                            case "next":
                                                return "下一页";
                                            case "last":
                                                return "末页";
                                            case "page":
                                                return page;
                                        }
                                    },
                                    onPageClicked: function (event, originalEvent, type, page) {
                                        requestFile(page);
                                    }
                                });
                            });
                    };
                    requestFile(1);
                });
            </script>
        </@script>
    </body>
</html>