server:
  servlet:
    context-path: /jsuiteMgr
spring:
  servlet:
    multipart:
      enabled: true
  datasource:
    type: com.alibaba.druid.pool.DruidDataSource
    druid:
      driver-class-name: com.mysql.cj.jdbc.Driver
      url: jdbc:mysql://192.168.0.237:6608/jsuite?zeroDateTimeBehavior=convertToNull&transformedBitIsBoolean=true
      username: root
      password: justinliangjy
      filter: stat
      #配置初始化大小、最小、最大
      initial-size: 1
      max-active: 20
      #配置获取连接等待超时的时间
      max-wait: 60000
      #配置间隔多久才进行一次检测，检测需要关闭的空闲连接，单位是毫秒
      time-between-eviction-runs-millis: 60000
      #配置一个连接在池中最小生存的时间，单位是毫秒
      min-evictable-idle-time-millis: 300000
      test-on-borrow: false
      test-while-idle: true
      test-on-return: false
      #打开PSCache，并且指定每个连接上PSCache的大小
      pool-prepared-statements: false
  #全局加载配置
  messages:
    basename: messages/globalMessages
  freemarker:
    allow-request-override: false
    allow-session-override: false
    cache: true
    suffix: .html
    enabled: true
    request-context-attribute: request
    template-loader-path:
      - classpath:/views/
    settings:
      template_update_delay: 10
      classic_compatible: true
      default_encoding: UTF-8

rabbit:
  redisson:
    open-status: true
  web:
    request-log-enable: true
    freemarker-enable: true
    xss-filter-enable: true
    freemarker-variable-path: com.scloudic.jsuite.**.template
  security:
    cookie:
      name: jsuite
      path: /
    session-type: local
    cache-type: redis
    filter-urls: /(((static|css|img|images|lib|res)/.*)|(favicon.ico))
    filter-chain-definitions:
      authc: /jsuite/api/file/**
    session-dao-key-prefix: jsuite_session_test
    realm-bean-names:
      - jsuiteRealm
    session-id-cookie-enabled: true
    token-enabled: true
  jbatis:
    entity-packages: com.scloudic.jsuite.**.entity
    mapper-packages: com.scloudic.jsuite.**.mapper
  commons:
    front-black: false
    page404: true
    sys404-error-url: /error/404
    sys500-error-url: /error/500
    sys405-error-url: /error/404
    unauthorized-url: /error/unauthorized
    login-url: /admin/login
